@model Writer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UserLayout/_UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Yazar Giriş Ekranı</h3>
        <div class="row inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.Label("Email Adresiniz")
                        @Html.TextBoxFor(x => x.WriterEmail, new {@class="form-control"})
                        <small id="emailHelp" class="form-text text-muted">E-postanızı asla başka biriyle paylaşmayacağız.</small>
                    </div>
                    <div class="form-group">
                        @Html.Label("Şifreniz")
                        @Html.TextBoxFor(x => x.WriterPassword, new {@class="form-control", placeholder ="*****"})
                    </div>
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Beni hatırla</label>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
                    <p><a href="/Register/Index/"> Bir kullanıcı hesabınız yok mu?</a></p>
                }
            </div>
        </div>
    </div>
</section>