<div class="comment-top">
    <h4>Yorum Bırakın</h4>
    <div class="comment-bottom">
        @using (Html.BeginForm("Index","Blog",FormMethod.Post))
        {
            <input class="form-control" type="text" name="CommentUsername" placeholder="Kullanıcı adınız" required="">

            <input class="form-control" type="email" name="CommentEmail" placeholder="Email adresiniz" required="">

            <input class="form-control" type="text" name="CommentTitle" placeholder="Konu" required="">

            <textarea class="form-control" name="CommentContent" placeholder="Mesajınız..." required=""></textarea>

            <button type="submit" class="btn btn-primary submit">Gönder</button>
        }
    </div>
</div>